# ------------------------------------------------------------------------
# ENVIRONMENT VARIABLE TEMPLATE
# Copy this file to a new file named `.env` and fill in the values.
# IMPORTANT: DO NOT commit your `.env` file to Git!
# ------------------------------------------------------------------------

# --- Database Credentials ---
DB_HOST=localhost
DB_USER=username
DB_PASSWORD=pass
DB_NAME=angular_bell
DB_PORT=5432

# --- API Configuration ---
API_PORT=3000